<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <app></app>
    <!-- webpack builds are automatically injected -->
  </body>

  <script>
  const inputMenu = require('electron-input-menu');
  const context = require('electron-contextmenu-middleware');

  context.use(inputMenu);
  context.activate();
  
  inputMenu.registerShortcuts();
  </script>
</html>
